<html>
	<head>
    	<title><%= title %></title>
    	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    	<link rel='stylesheet' href='/stylesheets/global.css' />

      <script type="text/javascript" src="/javascripts/add-on/jquery-1.7.2.min.js"></script>
    </head>

    <body class="verify">
      <h4 class="error_block"><% if (typeof(error)!='undefined') { %>
        <%= error %>
      <% } %></h4>
    	<div class="main_content">
    		<h1>Verify<a class="no_style right link" href="/public">Public Spides</a></h1>
        <% if (typeof(name)!='undefined') { %>
          <h4>Please input theKey to <%= (typeof(target)!='undefined' ? target : "get") %> <strong> "<%= name %>" </strong></h4>
        <% } else { %>
          <h4>Please input id and theKey to get your Spide.</h4>
        <% } %>
		    <form action="/<%= (typeof(target)!='undefined' ? target : "show") %>" method="post" class="typical_form">
          <div class="input_block">
            <% if (typeof(name)!='undefined') { %>
              <input type="hidden" name="id" class="input_large" placeholder="id of the Spide" value="<%= id %>" />
              <a href="/<%= (typeof(target)!='undefined' ? target : "show") %>" class="btn">Change a Spide</a>
            <% } else { %>
              <input type="text" name="id" class="input_large" placeholder="id of the Spide" />
              <a id="get_info" href="/<%= (typeof(target)!='undefined' ? target : "show") %>" class="btn disabled">Check the id</a>
            <% } %>
          </div>
		    	<div class="input_block">
				    <input type="password" name="theKey" class="input_large" placeholder="the key to get the Spide" />
				    <input type="submit" value="Submit" />
				</div>
		    </form>
		</div>
    </body>
    <script type="text/javascript" src="/javascripts/global.js"></script>
    <script type="text/javascript" src="/javascripts/verify.js"></script>

</html>